/* Seteo General */
* {
    margin: 0px;
    padding: 0px;
    border: 0px
}
body {
    text-align: center;
    color: #000f08;
    font-family: "Open Sans";
}
/* Navbar */
nav {
    background-color: #000f08;
    color: white;
    text-align: left;
    padding: 20px 120px;
    font-size: 25px;
}
nav li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 60px;
}
nav li a{
    color: white;
    text-decoration: none;
}
/* Hero Section */
header {
    /* Esto sería la imagen de fondo */
    background-image: url("../img/bg-hero.png");
    background-repeat: no-repeat;
    background-size: cover;

    /* y esto sería para el texto */
    text-shadow: 0px 3px 6px black;
    text-align: right;
    color: white;
    padding: 100px;
}
header h1 {
    font-size: 60px;
    font-weight: 900;
}
header h3 {
    font-size: 40px;
    font-weight: 300; /* podría haber sido lighter? en vez de números */
}
    /* ubicacion */
#Ubicacion {
    padding: 150px;
}
#Ubicacion h2 {
    font-size: 45px;
    margin: 40px 0px 20px 0px;
}
#Ubicacion p {
    font-size: 25px;
}

    /* próxima charla */
#Proxima-Charla { 
    background: #a4452c; 
    padding: 100px; 
    color: white;
}
.wrapper img, .texto { 
    display: inline-block; 
    vertical-align: middle;
}
.wrapper .texto { /* Wrapper vendria siendo igual a #proxima-charla? */
    text-align: left;
    width: 70%; 
    margin-left: 4%;   
}
#Proxima-Charla .texto h3 {
    font-size: 45px;
    padding-bottom: 10px;
}
#Proxima-Charla .texto h4 {
    font-size: 40px;
    padding-bottom: 10px;
}
#Proxima-Charla .texto h6 {
    font-size: 33px;
}
#Proxima-Charla .texto span {
    font-size: 20px;
}
#Proxima-Charla .texto p {
font-size: 25px;
}
#Proxima-Charla .texto h6, span, p {
    font-weight: 400; /* siento que no me funca */
}
 /* Eventos Anteriores */

 #Eventos {
     padding: 100px;
 }
 #Eventos h2 {
     font-size: 45px;
     margin-bottom: 50px;
 }
 #Eventos article {
     display: inline-block;
     margin: 0px 50px;
     font-size: 35px;
 }
 #Eventos img {
     margin-bottom: 45px;
 }

 /* footer */
 footer {
    background: #000f08;
    color: white;
    padding: 20px 100px 100px 100px;    
    font-size: 25px;
    }
footer a {
    color: white;
    margin: 0px 20px;
    text-decoration: none;
}
footer p {
    margin-top: 40px;
}